body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;

  background-color: #ededed;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  body {
    font-family: "Open Sans Condensed";
    padding: 10px 20px;
  }
}
